# ------------------------
# Build / Compilation
# ------------------------
bin/
obj/
mod/
*.o
*.mod
*.a
build/*.smod
build/*.mod

# ------------------------
# Temporary / Obsolete files
# ------------------------
.input/
.obsolete/
.tmp/
.history/
*.log
*.dat
*.png

# ------------------------
# Tests folder
# Ignore everything recursively in tests, except specific files
# ------------------------
cases/
tests/*/**
tests/*/regression_test_metrics.json
!tests/*/*.sh
!tests/*/*.ini
!tests/*/*.DAT
!tests/*/reference.json
!tests/**/1_data/*outlet*.bin

# ------------------------
# Libraries
# ------------------------
lib/.DS_Store
lib/**/.DS_Store

# 2decomp-fft specific
/lib/2decomp-fft/build/*
!/lib/2decomp-fft/build/build_cmake.sh
lib/2decomp-fft/build/CMakeCache.txt

# ------------------------
# Pre/post-processing
# ------------------------
prepost/*.ini

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.DS_Store
